
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SitWize</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/img/book-reader-solid (1).svg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    @Styles.Render("~/bundles/css")
    <style>
        .nav-link {
            display: block;
            padding: .5rem 1rem;
            color: #99005C;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        }

        .text-primary {
            color: #99005C !important;
        }

        a.btn.btn-dark.rounded-pill.py-sm-3.px-sm-5.animated.slideInRight {
            color: #99005C;
            background-color: rgb(255, 255, 255);
            /* color: black; */
        }
    </style>
    <!-- Libraries Stylesheet -->
    @*<link href="~/lib/animate/animate.min.css" rel="stylesheet">
        <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">*@

    <!-- Customized Bootstrap Stylesheet -->
    @*<link href="~/css/bootstrap.min.css" rel="stylesheet">*@

    <!-- Template Stylesheet -->
    @*<link href="~/css/style.css" rel="stylesheet">*@
</head>
<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
             class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
            <a href="index.html" class="navbar-brand">
                <h1 class="m-0 text-primary"><i class="fa fa-book-reader me-3"></i>SitWise</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            @*<div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-item nav-link active" })
                @Html.ActionLink("About Us", "About", "Home", null, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Services", "Index", "Service", null, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-item nav-link" })

            </div>

            @if (Session["UserId"] != null)
            {
                  var Profile = Session["username"];

                @Html.ActionLink($"{Profile}", "Profile", "Account", null, new { @class = "nav-item nav-link" })

                @Html.ActionLink("Log out", "Logout", "Account", null, new { @class = "nav-item nav-link" })

            }
            else
            {
                @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-item nav-link" })

                @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "nav-item nav-link" })
            }

            <a href="@Url.Action("JoinUs", "Home")" class="btn btn-primary rounded-pill px-3 d-none d-lg-block">
                Join Us<i class="fa fa-arrow-right ms-3"></i>
            </a>

        </div>*@

















        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-item nav-link active" })
                @Html.ActionLink("About Us", "About", "Home", null, new { @class = "nav-item nav-link" })
                @if (Session["UserId"] != null || Session["SitterID"] == null)
                {
                    @Html.ActionLink("Services", "Index", "Service", null, new { @class = "nav-item nav-link" })
                }
                @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-item nav-link" })
            </div>

            @if (Session["UserId"] != null)
            {
                var Profile = Session["username"];
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>@Html.ActionLink("Profile", "Profile", "Account", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Log out", "Logout", "Account", null, new { @class = "dropdown-item" })</li>
                    </ul>
                </div>
            }
            else if (Session["SitterID"] != null)
            {
                var Profile = Session["SitterName"];
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>@Html.ActionLink("Profile", "Profile", "Sitter", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Log out", "Logout", "Sitter", null, new { @class = "dropdown-item" })</li>
                    </ul>
                </div>
            }
            else
            {
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="signInDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sign In
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="signInDropdown">
                        <li>@Html.ActionLink("Parent Login", "Login", "Account", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Sitter Login", "Login", "Sitter", null, new { @class = "dropdown-item" })</li>
                        <li><hr class="dropdown-divider"></li>
                        <li>@Html.ActionLink("Parent Register", "Register", "Account", null, new { @class = "dropdown-item" })</li>
                    </ul>
                </div>
            }

            <a href="@Url.Action("JoinUs", "Home")" class="btn btn-primary rounded-pill px-3 d-none d-lg-block">
                Join Us<i class="fa fa-arrow-right ms-3"></i>
            </a>
        </div>
        </nav>

        @RenderBody()

        <footer>
            <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="container py-5">
                    <div class="row g-5">
                        <div class="col-lg-3 col-md-6">
                            <h3 class="text-white mb-4">Get In Touch</h3>
                            <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>7th circle, AMMAN, JORDAN</p>
                            <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+962 781 541 015</p>
                            <p class="mb-2"><i class="fa fa-envelope me-3"></i>SitWise@gmail.com</p>
                            <div class="d-flex pt-2">
                                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h3 class="text-white mb-4">Quick Links</h3>
                            @Html.ActionLink("About Us", "About", "Home", null, new { @class = "nav-item nav-link" })
                            @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-item nav-link" })
                            @Html.ActionLink("Services", "Index", "Service", null, new { @class = "nav-item nav-link" })
                           @Html.ActionLink("Privacy Polices", "privacy", "Home", null, new { @class = "nav-item nav-link" })
                        <a class="btn btn-link text-white-50" href="">FQAs</a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h3 class="text-white mb-4">Photo Gallery</h3>
                            <div class="row g-2 pt-2">
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="~/img/classes-1.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="~/img/classes-2.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="~/img/classes-3.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="~/img/classes-4.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="~/img/classes-5.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1" src="~/img/classes-6.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="index.html" class="navbar-brand">
                                <h1 class="m-0 text-primary"><i class="fa fa-book-reader me-3"></i>SitWise</h1>
                            </a>
                            <p style="font-size: 15px;">
                                At Sitwise, we provide trusted and reliable babysitting services,
                                connecting families with experienced and caring babysitters and nannies. Our mission is to
                                ensure peace of mind for parents and a nurturing environment for children.
                            </p>
                            <div class="position-relative mx-auto" style="max-width: 400px;">
                                <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text"
                                       placeholder="Your email">
                                <button type="button"
                                        class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">
                                    SignUp
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="container">
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                                &copy;SitWize</a>, All Right Reserved.

                            </div>
                            <div class="col-md-6 text-center text-md-end">
                                <div class="footer-menu">
                                    <a href="index.html">Home</a>
                                    <a href="">Cookies</a>
                                    <a href="">Help</a>
                                    <a href="">FQAs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </footer>

        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/wow/wow.min.js"></script>
        <script src="~/lib/easing/easing.min.js"></script>
        <script src="~/lib/waypoints/waypoints.min.js"></script>
        <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Template Javascript -->
        <script src="~/js/main.js"></script>
        @RenderSection("scripts", required: false)
</body>
</html>
